#wrap{
	position: relative;
}
#header, #container, #footer{
	position: relative;
	width: 100%;
	height: auto;
	margin: 0;
/* 	padding: 0; */
}
.wrap{
	position: relative;
	margin: 0 auto;
	width: 100%;
	padding: 0;
}
#header{
	height: 80px;
	background-color: #3c775e;
	text-align: center;
	h1{
		display: inline-block;
		margin: 0;
		padding: 20px;
		a{
			color: #fff;
		}
	}
}

#nav{
	display: none;
	
	ul{ 
		
		li{
			display:inline-block;
			
			
			a{
				color: #fff;
			}
		}
	}
	
}

.mobile-nav{
	
	button{
		display: block;
		width: 40px;
		height: 40px;
		border-top: 10px solid red;
		border-right: 10px solid blue;
		border-bottom: 10px solid orange;
		border-left: 10px solid yellow;
		border-radius: 50%;
		background-color: #3c775e;
		transition: 1s ease;
		position: absolute;
		right: 0px;
		top: 20px;
		z-index: 1;
	}
	button:hover{
		transform: rotate(1800deg);
		
	}
	
	ul{
		position: absolute;
		right: 0;
		top: 0;
		width: 30%;
		height: 300px
		border: 1px solid #000;
		background-color: #66b293;
		
		li{
			padding: 20px;
			
		
		}
		
	}
	
	
	
}


#container{
	
}
#footer{
	
}
